<%- include('../partials/header') %>
<body id='account-container'>
  <div id='account-main-content'>
    <h1 class='my-account'>My Account</h1>
    <div class='accounts'>
      <div class='account-balance'>
        <!-- <div class='bitcoin-balance-container'> -->
          <div class='bitcoin-balance'>
              <img src="images/bitcoin2.svg" alt="black bitcoin image">
              <h2>Bitcoin</h2>
          </div>
        <!-- <div> -->
        <!-- <div class='ethereum-balance-container'>   -->
          <div class='ethereum-balance'>
              <img src="images/ethereum2.svg" alt="black ethereum image">
              <h2>Ethereum</h2>
          </div>  
        <!-- </div>   -->
      </div>
      <div class='numerical-balances'>
        <p class='numerical-bitcoin-balance'>.023231 BTC</p>
        <p class='numberical-ethereum-balance'>345.34 ETH</p>
      </div>
    </div>    
  </div>
  <h2 class='transaction-history'>Transaction History</h2>

 

</body>

<%- include('../partials/footer') %>