<%- include('../partials/header') %>
<body id='trade-container'>
    <% if (user) { %>
    <h1 class='trade-header'>Create Order</h1>

    <div id='trade-forms'>
        <!-- buy -->
        <form id="bid" action="/orders" method="POST">
            <h1>BID </h1>   
            <img src="images/bitcoin2.svg" alt="black bitcoin">

            <h2>Amount</h2>
            <input class='bid-input'name="bid" >
            <input type="submit" class='trade-index-submit' >
        </form>
        <div id='trade-forms-middle'>
            <h1 class='trade'>TRADE</h1>
            <img class='equalsign'src="images/equalsign.png" width='100px' height='100px'alt="equal sign">
        </div>
        
        <form id="ask" action="/orders" method="post">
            <h1>ASK</h1>
            <img src="images/ethereum2.svg" alt="black ethereum" >
            <!-- <h2>Amount</h2>
            <input type="number" placeholder="amount" value=<%= account.eth %>> -->
        </form>
        <% }else { %>
            <h3>Please
            <a href="/auth/google">Login</a>
            First
            </h3>
        <% } %>
            
</body>


<%- include('../partials/footer') %>
