<%- include('../partials/header') %>
<body id='trade-container'>
    <h1>Create Order</h1>
    <div id='trade-forms'>
        <form id="bid" action="/trade" method="post">
            <h1>BID </h1>
            <h2>Coin </h2>
            <input type="text">
            <h2>Amount</h2>
            <input type="number">
        </form>
        
        <form id="ask" action="/trade" method="post">
            <h1>ASK</h1>
            <h2>Coin </h2>
            <input type="text">
            <h2>Amount</h2>
            <input type="number">
        </form>
    </div>
    
</body>


<%- include('../partials/footer') %>
