<%- include('partials/header'); %>
    
    <h1>Coin Agora</h1>
    <p>Welcome to Coin Agora</p>
    <button><a href=""> New User? Sign up! </a></button>
    <button><a href="">Existing User: Log in</a></button>

    
  </body>
</html>

<%- include('partials/footer'); %>