<%- include('partials/header'); %>
<body id='index-container'>
  <h1 class='coin-agora-welcome'>Welcome to Coin Agora</h1>
  <div id='landing-page-container'>
      <img class='top-arrow' src="images/arrow.svg" alt="top arrow">
      <div id='sign-up-container'>
          <p class='left-paragraph'>A peer-to-peer cryptocurrency trading marketplace. </p>
          <div class='middle-buttons'>
            <img class='bitcoin-image'src="images/bitcoin.svg" alt="bitcoin image">
                <div class='homepage-buttons'>
                  <button class='sign-up'><a href="/auth/google"> Sign Up with  
                  </a>
                  <a href="/auth/google"> 
                  <img class="google-logo" src="images/google.png" alt="google pic">
                  </a>
                  </button>
                </div>
            <img class='ethereum-image'src="images/ethereum.svg" alt="ethereum image">
          </div>
          <p class='right-paragraph'>Linking buyers and sellers directly. Select from posted orders or post your own. </p>
      </div>
      <img class='bottom-arrow' src="images/arrow2.svg" alt="top arrow">
  </div>
</body>
<%- include('partials/footer'); %>