<%- include('../partials/header') %>

<table>
        <h1> OPEN ORDERS</h1>
    <thead>
        <tr>
            <th>Transaction ID</th>
            <th>Order Type</th>
            <th>Amount</th>
            <th>Coin</th>
            <th>Date Created</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>someID</td>
            <td>BUY</td>
            <td>12</td>
            <td>BTC</td>
            <td>DATE</td>
            <td><button> <a href="">SELL</a></button></td>
        </tr>
    </tbody>
</table>
<h1>FILLED ORDERS</h1>
<table>
        <thead>
            <tr>
                <th>Transaction ID</th>
                <th>Order Type</th>
                <th>Amount</th>
                <th>Coin</th>
                <th>Date Created</th>
                <th>Date Filled</th>
            </tr>
        </thead>
        <tbody>
            <td>someID</td>
            <td>BUY</td>
            <td>12</td>
            <td>BTC</td>
            <td>DATE</td>
            <td>DATE</td>
        </tbody>
    </table>
<%- include('../partials/footer') %>